*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

::before, ::after {
  --gi-content: '';
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}
.cv_home__left_block{margin-bottom:1rem;padding-left:1.5rem;padding-right:1.5rem}@media(min-width:640px){.cv_home__left_block{margin-bottom:1.5rem}}@media(min-width:1024px){.cv_home__left_block{padding-left:2.5rem}}
.cv_home__resume_link{--gi-text-opacity:1;color:rgba(59,130,246,var(--gi-text-opacity));margin-bottom:1rem;margin-left:1rem;border-bottom-width:1px;border-style:solid;letter-spacing:0;font-family:PT Serif;font-size:1.125rem;line-height:1.75rem}@media(min-width:640px){.cv_home__resume_link{font-size:.875rem;line-height:1.25rem}}.cv_home__resume_link:hover{--gi-border-opacity:1;border-color:rgba(255,255,255,var(--gi-border-opacity))}
.cv_home__resume_title{margin-bottom:1rem;padding-left:1.5rem;padding-right:1.5rem}@media(min-width:640px){.cv_home__resume_title{margin-bottom:1.5rem}}@media(min-width:1024px){.cv_home__resume_title{padding-left:2.5rem}}.cv_home__resume_title h1{font-size:3.75rem;line-height:1;letter-spacing:-0.025em;font-family:PT Mono;margin-left:0;padding-left:0;margin-bottom:.5rem}@media(min-width:640px){.cv_home__resume_title h1{font-size:2.25rem;line-height:2.5rem}}@media(min-width:640px){.cv_home__resume_title h1{margin-bottom:0}}.cv_home__resume_title h2{font-family:PT Sans;letter-spacing:.1em;font-size:1.25rem;line-height:1.75rem;text-align:center}@media(min-width:640px){.cv_home__resume_title h2{font-size:.875rem;line-height:1.25rem}}@media(min-width:640px){.cv_home__resume_title h2{text-align:left}}.cv_home__resume_title br{display:none}@media(min-width:640px){.cv_home__resume_title br{display:inline}}
.cv_home__section_title,text-md{padding-bottom:.5rem;border-color:rgba(0,0,0,var(--gi-border-opacity));font-family:PT Mono;border-top-width:1px;margin-bottom:1.25rem;--gi-border-opacity:1;font-weight:700;border-bottom-width:1px;padding-top:.5rem}
.cv_home__subsection_title{font-size:1.125rem;line-height:1.75rem;--gi-text-opacity:1;color:rgba(37,99,235,var(--gi-text-opacity));margin-bottom:0;font-family:PT Sans}
.cv_home__sidebar_title{font-size:1.125rem;line-height:1.75rem;--gi-text-opacity:1;color:rgba(37,99,235,var(--gi-text-opacity));margin-bottom:1rem;font-family:PT Sans;padding-left:1.5rem;padding-right:1.5rem;margin-bottom:1.5rem;font-size:.875rem;line-height:1.25rem;font-weight:400;letter-spacing:.025em;display:none;font-family:PT Sans;--gi-text-opacity:1;color:rgba(59,130,246,var(--gi-text-opacity));padding-top:.5rem;padding-bottom:.5rem;--gi-bg-opacity:1;background-color:rgba(244,244,245,var(--gi-bg-opacity))}@media(min-width:640px){.cv_home__sidebar_title{margin-bottom:1.5rem}}@media(min-width:1024px){.cv_home__sidebar_title{padding-left:2.5rem}}@media(min-width:640px){.cv_home__sidebar_title{display:block}}
.cv_home__skill_keywords{display:none}@media(min-width:640px){.cv_home__skill_keywords{display:block}}.cv_home__skill_keywords h3{margin-bottom:2.5rem}.cv_home__skill_keywords li.keywords{margin-bottom:2rem;line-height:1.375;font-size:.875rem;line-height:1.25rem;letter-spacing:.025em;font-family:PT Sans}
.cv_home__experience p{margin-bottom:1rem;line-height:1.375;margin-top:.25rem}
.cv_home__education span{font-size:.875rem;line-height:1.25rem}
.cv_home__column{padding:1.25rem}
.cv_home__left_col{padding:1.25rem;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;padding-bottom:1rem}@media(min-width:640px){.cv_home__left_col{min-width:300px}}@media(min-width:640px){.cv_home__left_col{max-width:400px}}@media(min-width:640px){.cv_home__left_col{display:block}}
.cv_home__right_col{padding:1.25rem;--gi-bg-opacity:1;background-color:rgba(255,255,255,var(--gi-bg-opacity));padding-bottom:2rem;padding-top:.75rem;padding-left:2.5rem}@media(min-width:1024px){.cv_home__right_col{padding-right:3.75rem}}@media(min-width:768px){.cv_home__right_col{margin-bottom:3.75rem}}@media(min-width:768px){.cv_home__right_col{padding-top:1.5rem}}@media(min-width:768px){.cv_home__right_col{border-bottom-left-radius:.5rem}}.cv_home__right_col>div{margin-bottom:2rem}
.cv_home__cols{display:flex;align-items:stretch;height:100%;flex-direction:column}@media(min-width:640px){.cv_home__cols{flex-direction:row}}
.cv_home__body{padding:0;margin:0;--gi-bg-opacity:1;background-color:rgba(244,244,245,var(--gi-bg-opacity));letter-spacing:.025em}
.cv_home__cool_technologies a{font-weight:700;min-width:6rem;text-decoration:underline;--gi-text-opacity:1;color:rgba(29,78,216,var(--gi-text-opacity));font-size:.875rem;line-height:1.25rem}.cv_home__cool_technologies .item{display:flex;gap:2rem;margin-bottom:.5rem}.cv_home__cool_technologies .item a{font-family:PT Sans;letter-spacing:.05em;font-weight:400}.cv_home__cool_technologies .item span{margin-top:0;font-size:.875rem;line-height:1.25rem}
.cv_home__skills_summary .block{margin-bottom:1.25rem}.cv_home__skills_summary .subtitle{margin-bottom:1.25rem;margin-top:0}.cv_home__skills_summary ul{list-style-position:outside;list-style-type:disc;padding-left:.75rem}.cv_home__skills_summary li{margin-bottom:.5rem;line-height:1.25}@media(min-width:640px){.cv_home__skills_summary li{font-size:.875rem;line-height:1.25rem}}
.cv_home__personal_info{font-size:1.125rem;line-height:1.75rem}@media(min-width:640px){.cv_home__personal_info{margin-bottom:2rem}}@media(min-width:640px){.cv_home__personal_info{font-size:.875rem;line-height:1.25rem}}.cv_home__personal_info h4{font-weight:700;font-family:PT Sans}.cv_home__personal_info .info{display:flex;justify-content:center;gap:.5rem}@media(min-width:640px){.cv_home__personal_info .info{display:block}}.cv_home__personal_info .info h4{margin-top:.25rem;letter-spacing:.05em}.cv_home__personal_info .info p{display:flex;flex-direction:row;line-height:2;margin-left:.5rem;margin-left:0}@media(min-width:640px){.cv_home__personal_info .info p{flex-direction:column}}@media(min-width:640px){.cv_home__personal_info .info p{margin-bottom:1rem}}.cv_home__personal_info .info p a{display:block;margin-right:.5rem}.cv_home__personal_info .info p a:hover{--gi-text-opacity:1;color:rgba(59,130,246,var(--gi-text-opacity))}@media(min-width:640px){.cv_home__personal_info .info p a{margin-right:0}}
.cv_home__personal_print{font-size:1.125rem;line-height:1.75rem}@media(min-width:640px){.cv_home__personal_print{margin-bottom:2rem}}@media(min-width:640px){.cv_home__personal_print{font-size:.875rem;line-height:1.25rem}}.cv_home__personal_print h4{font-weight:700;font-family:PT Sans}.cv_home__personal_print .info{display:flex;justify-content:center;gap:.5rem}@media(min-width:640px){.cv_home__personal_print .info{display:block}}.cv_home__personal_print .info h4{margin-top:.25rem;letter-spacing:.05em}.cv_home__personal_print .info p{display:flex;flex-direction:row;line-height:2;margin-left:.5rem;margin-left:0}@media(min-width:640px){.cv_home__personal_print .info p{flex-direction:column}}@media(min-width:640px){.cv_home__personal_print .info p{margin-bottom:1rem}}.cv_home__personal_print .info p a{display:block;margin-right:.5rem}.cv_home__personal_print .info p a:hover{--gi-text-opacity:1;color:rgba(59,130,246,var(--gi-text-opacity))}@media(min-width:640px){.cv_home__personal_print .info p a{margin-right:0}}